.top{
	width:100%;
	height:70px;
	vertical-align: middle;
}

.top img{
	display:inline-block;
}

.top h3{
	color:#408080;
	display:inline-block;
}

.clear hr{
	margin-top:-6px;
}

.data table, .data th, .data td{
	border: 1px solid black; 
}

.data table{
	border-collapse: collapse;
	margin-left:10px;
	font-size:0.8em;
}

.data th{
	height:40px;
	width:60px;
	background-color:#C0C0C0;
}
.data td{
	height:25px;
	background-color:#DDF0F0;
}

.data th:nth-child(2){
	width:380px;
}
.data th:nth-child(3){
	width:80px;
}
.data th:nth-child(4){
	width:120px;
}
.data th:nth-child(5){
	width:140px;
}
.data td:nth-child(1){
	text-align:center;
}
.data td:nth-child(3){
	text-align:center;
}
.data td:nth-child(5){
	text-align:center;
}

center{
	color:blue;
}

center a:link, center a:visited{
	color:blue;
	text-decoration:none;
}

.data a:link, .data a:visited, .data a:active{
	text-decoration:none;
	color:blue;
}

#cur{
	color:black;
}

.data{
	height:340px;
}